body{
    margin: 0;
    padding: 50px;
}
#uno{
    background-color: blueviolet;
}
#dos{
    background-color: blueviolet;
}
#tres{
    background-color: blueviolet;
}
#cuatro{
    background-color: blueviolet;
}
#cinco{
    background-color: blueviolet;
}
#seis{
    background-color: blueviolet;
}